/* Main app css */

#tabs {
  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
}

body {
  background-color: #1e2130;
  color: #f3f5f4;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 100vh;
  max-width: 100% !important;
  overflow-x: hidden;
  margin: 0;
}

#big-app-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 6rem;
}


/* Header css*/

.header {
  height: fit-content;
  background-color: #1e2130;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #4B5460;
  padding: 1rem 10rem;
  width: 100%;
}

.header h5 {
  font-family: 'Open Sans Semi Bold', sans-serif;
  font-weight: 500;
  line-height: 1.2;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.header h6 {
  font-size: 1.6rem;
  line-height: 1;
}


#header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}


.header Img {
  height: 4rem;
  margin: 0px 10px;
}

.custom-tabs {
  background-color: #1E2130;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  height: fit-content;
  cursor: pointer;
}

#tab1.custom-tab, #tab2.custom-tab {
  background-color: #161a28;
  letter-spacing: 1px;
  color: inherit;
  border: 0;
  border-bottom: #1E2130 solid 4px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 18px;
}

#input-tab.custom-tab--selected, #output-tab.custom-tab--selected {
  border-bottom: #91dfd2 solid 4px !important;
}

#input-tab.custom-tab {
  margin-right: 3px;
}

#output-tab.custom-tab {
  margin-left: 3px;
}

/* Tab 1 content css */
#set-output-intro-container {
  width: 90vw;
}

#set-input-intro-container {
  width: 90vw;
}

#inputs {
  float: left;
  width: 40vw;
}

#uploads {
  float: right;
  width: 40vw;
}

#email-outputs {
  width: 90vw;
  display: flex;
  padding: 10px;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}


